<style>
    #bg-img {
        
        background-image: url("/adminDashboard.jpg");
        height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
    }
    #card {
        width: 40%;
        display: inline-grid;
        margin-left: 15px;
        margin-right: 15px;
    }
    #outerDiv {
        margin-left: 15%;
        position: absolute;
        top: 200px;
        z-index: 1;
        width: 80%;
    }
</style>

<% var message; if(message){ %>
    <div class="alert alert-success" role="alert">
        <%= message %>
    </div>
    <% } %>

<div id="bg-img"></div>
<div id="outerDiv">
<div class="card text-center text-bg-dark mb-3" id="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Add Movies</h5>
      <p class="card-text">Add new movies to the system. These movies will be available for users for booking</p>
        <a href="../movies/addMovie" class="btn btn-primary">click here</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
  <div class="card text-center text-bg-dark mb-3" id="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Manage Movie Details</h5>
      <p class="card-text">View currently screening movie list, Edit or update details of previously added movies or delete movie details</p>
      <a href="../movies/manageMovies" class="btn btn-primary">click here</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
  
  <div class="card text-center text-bg-dark mb-3" id="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Logout</h5>
      <p class="card-text">Logout from the admin dashboard</p>
        <a href="../authenticate/adminLogout" class="btn btn-primary">Logout</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
  </div>