
<style>
    #outerDiv {
        width: 40%;
        margin-left: 30%;
        padding: 2em;
    }
</style>

<% var message; if(message){ %>
    <div class="alert alert-success" role="alert">
        <%= message %>
    </div>
    <% } %>
   
    <div id="outerDiv" class="border border-danger-subtle">
        <h1>Update Movie Details</h1>
        <p>Enter the movie name of the movie you wish to edit details of and other input fields will be updated accordingly</p>
    <form action="/movies/updateMovie?_method=PATCH" method="post" >
        <div class="mb-3">
            <label for="movieName" class="form-label">Movie Name</label>
            <input type="text" class="form-control border border-danger-subtle" id="movieName" name="movieName">
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Image URL</label>
            <input type="text" class="form-control border border-danger-subtle" id="img" name="img">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control border border-danger-subtle" id="date" name="date">
        </div>
        <div class="mb-3">
            <select name="timeSlot" id="timeSlot" class="form-select border border-danger-subtle" aria-label="Default select example">
                <option selected>Choose a time slot</option>
                <option value="9.30 AM">9.30 AM</option>
                <option value="12.30 PM">12.30 PM</option>
                <option value="3.30 PM">3.30PM</option>
                <option value="7.30 PM">7.30 PM</option>
                <option value="9.30 PM">9.30PM</option>
              </select>
        </div>
        <div class="preview-images"></div>
        <div class="mb-3">
            <label for="ratings" class="form-label">Ratings</label>
            <input type="text" class="form-control border border-danger-subtle" id="ratings" name="ratings">
        </div>
        <div class="mb-3">
            <label for="director" class="form-label">Director</label>
            <input type="text" class="form-control border border-danger-subtle" id="director" name="director">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control border border-danger-subtle" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="duration" class="form-label">Duration</label>
            <input type="text" class="form-control border border-danger-subtle" id="duration" name="duration">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

